#contenedor_trabajo {
	overflow: hidden;
}

html {
	background: #2F4598;
}

.td01 {
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	color: #fff;
	font-weight: 300;
	padding-top: 10px;
}

.td02 {
	font-size: 32px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 900;
	padding-top: 2px;
	letter-spacing: -0.01em;
}

.link-td02 {
	color: #fff;
}

.link-td02:hover {
	color: #0192d5;
	text-decoration: none;
}

.td03 {
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 600;
	padding-top: 1px;
	letter-spacing: 0.3em;
}

.link-td03 {
	color: #fff;
}

.link-td03:hover {
	color: #0192d5;
	text-decoration: none;
}

.td04 {
	font-size: 18px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.08em;
}

.link-td04 {
	color: #fff;
}

.link-td04:hover {
	color: #0192d5;
	text-decoration: none;
}

.td05 {
	padding-top: 6px;
}


.cont-iconos {
	padding-top: 30px;
}

.cont-iconos table td {
	padding-top: 10px;
}

.td06 {
	font-size: 26px;
	font-family: 'Rubik', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 300;

	@media(max-width: 991px) {
		margin-top: 15px;
	}
}

.td07 {
	font-size: 16px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 600;
}

.boton-click-aqui {
	padding: 12px 25px;
	background-color: #0192d5;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-decoration: none;
	border-radius: .5rem;
}


.contenedor-contactanos {
	padding-top: 35px;
}


@media (max-width: 500px) {
	.td-img-nuestro-staff img {
		height: 177px;
		width: 250px;
	}
}



.separ-secciones {
	padding: 80px 0 25px 0;
}

.span-separ-secciones {
	background-color: #999;
	height: 1px;
	width: 100%;
}

.contenedor-slider {
	width: 100%;
	-webkit-box-shadow: 2px 8px 5px -5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 8px 5px -5px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 8px 5px -5px rgba(0, 0, 0, 0.75);

	@media(max-width: 767px) {
		width: 100% !important;
	}
}

.separ-botton-slider {
	background: #333333;
	width: 100%;
	height: 12px;
}

.texto1 {
	color: #333333;
	font-size: 30px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 600;
	text-align: center;
	margin-top: 75px;
	text-transform: uppercase;
}

@media (max-width: 500px) {
	.texto1 {
		font-size: 30px;
		padding-top: -50px;
	}
}

.texto2 {
	color: #009fe1;
	font-size: 1.5rem;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 600;
	text-align: center;
	padding: 0 15px 15px 15px;
}


.cont-items {
	padding-top: 25px;
}

.item1 {
	background: url("../img/item1.jpg") no-repeat;
	width: 239px;
	height: 284px;
	margin: auto;
	margin-bottom: 25px;
}

.item2 {
	background: url("../img/item2.jpg") no-repeat;
	width: 239px;
	height: 284px;
	margin: auto;
	margin-bottom: 25px;
}

.item3 {
	background: url("../img/item3.jpg") no-repeat;
	width: 239px;
	height: 284px;
	margin: auto;
	margin-bottom: 25px;
}

.texto3 {
	color: #333333;
	font-size: 18px;
	font-family: 'Rubik', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 300;

}

@media (max-width: 500px) {
	.texto3 {
		font-size: 20px;
		padding: 0 15px 0 15px;
	}
}

.texto31 {
	color: #333333;
	font-size: 18px;
	font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 400;
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	padding: 50px;

}

@media (max-width: 500px) {
	.texto31 {
		font-size: 20px;
		padding: 0 15px 0 15px;
	}
}

.texto313 {
	color: #333333;
	font-size: 18px;
	font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 400;
	text-align: left;

	margin-right: 20px;


}

@media (max-width: 500px) {
	.texto313 {
		font-size: 20px;
		padding: 0 15px 0 15px;
	}
}


.texto311 {
	color: #333333;
	font-size: 18px;
	font-family: 'Rubik', sans-serif, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 400;


}

@media (max-width: 500px) {
	.texto311 {
		font-size: 20px;
		/*padding: 0 15px 0 15px;*/
	}
}

.texto4 {
	color: #009fe1;
	font-size: 22px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 400;
	text-align: center;
	margin-top: 45px;
	text-decoration: underline;
	letter-spacing: 0.04em;
}

@media (max-width: 500px) {
	.texto4 {
		font-size: 22px;
		padding: 0 15px 0 15px;
	}
}

.texto5 {
	color: #009fe1;
	font-size: 18px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 600;
	text-align: center;
	margin-top: 25px;
	text-decoration: underline;
	letter-spacing: 0.02em;
}

.seccion-inicio {
	max-width: 950px;
	height: 1000px;
	margin: auto;
	background-color: #fff;
	padding-top: 35px;
}

.img-center {
	margin: 0 auto;
	display: block;
}

.h3-center {
	margin: 0 auto;
	text-align: center;
}

.p-center {
	margin: 0 auto;
	text-align: center;
}


/*----- FOrm -----------------------------*/
#respuesta1 {

	margin-top: 50px;

}

form {
	width: 100%;
	margin: auto;
	text-align: left;
	padding: 0;
	font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight: 300;
}


.btn_file {
	position: relative;
	border: 1px solid #0192D5;
	width: 170px;
	height: 50px;
}

.text_file {
	color: grey;
	letter-spacing: 1px;
	padding-top: 20px;
	margin-left: 12px;


}

.adjuntar {

	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	opacity: 0;

}


@media (max-width: 500px) {
	form {
		width: 75%;

	}
}


.form-control {
	display: block;
	padding: 20px 10px 1px 10px;
	width: 100%;
	padding-top: 10px;
	height: 38px;
	font-size: 16px;
	/*text-transform: uppercase;*/
	line-height: 1.42857143;
	letter-spacing: 1px;
	color: #555;
	background-image: none;
	border: 1px solid #0192d5;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

input:-webkit-input-placeholder {
	padding-top: 30px;
	opacity: 100%;
}

input:-moz-placeholder {
	padding-top: 30px;
	opacity: 100%;
}

input:-ms-input-placeholder {
	padding-top: 30px;
	opacity: 100%;
}

.btn-submit {
	background-color: #0192d5;
	width: 100%;
	border: 0;
	padding: 20px 10px 1px 10px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.btn-submit:hover {
	background-color: #2a58a4;
}

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css);


input.btn-primary {
	margin-top: 15px;
}

.container-news {

	/*background: #00ff00;*/
	width: 100%;
	/*align-content:center;*/
	/*position:absolute;*/
	margin-top: 38px;

}



.well {
	/*background: lime;*/
	border: 0;
	margin: auto !important;
	/*margin-left: 150px;*/

}

.thumbnail {
	background: transparent;
}

.form-newsletter {

	margin-top: 25px;
	/*background: yellow;*/
	padding: 0;
	text-align: center;

	width: 80%;
}

@media (max-width: 400px) {
	.form-newsletter {
		width: 90%;
	}
}

.input-group {
	border-collapse: separate;
	display: table;
	position: relative;
	width: 100%;
	margin-bottom: 18px;
}



.td08 {
	font-size: 16px;
	font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: lighter;
	height: 14px;
	text-align: left;
}

@media (max-width: 450px) {
	.td08 {
		font-size: 14px;
	}
}

.td08b {
	font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 300;
	letter-spacing: 0.04em;
	height: 14px;
	text-align: center;
}

.separ-01 {
	background-color: #333;
	height: 1px;

}

.td09 {
	font-size: 26px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333 !important;
	font-weight: 600;
	letter-spacing: 0.11em;
	height: 32px;
	text-align: left;
	text-decoration: none !important;
}

.link-td09 {
	color: #333;
}

.link-td09:hover {
	color: #0192d5;
	text-decoration: none;
}

.td10 {
	font-size: 14px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 600;
	letter-spacing: 0.42em;
	background-color: #fff;
	text-align: left;
}

.td11 {
	font-size: 20px;
	font-family: 'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 600;
	letter-spacing: 0.01em;
	/*background-color: yellow;*/
	text-align: left;
}

.link-td11 {
	color: #333;
}

.link-td11:hover {
	color: #0192d5;
	text-decoration: none;
}

.boton-mas {
	margin-top: 20px;
	padding: 10px 10px 1px 10px;
	background-color: #0192d5;
	display: inline;
	color: white;
	text-decoration: none;
	font-size: 10px;
	letter-spacing: 0.1em;
}


.boton-mas:hover {
	background-color: #2a58a4;
	cursor: pointer;
}

.btn-subir {

	float: right;
	margin-right: 80px;
	margin-top: 50px;
}

@media (max-width:1000px) {
	.btn-subir {

		margin-right: 40px;
		margin-top: 40px;

	}
}

@media (max-width:470px) {
	.btn-subir {
		margin-right: 40px;
		margin-top: 20px;
	}

	.respimg {
		width: 200px;
	}

	.contenido {
		width: 200px;
		height: 150px;
	}

	#cerrar+label {
		height: 20px;
		width: 20px;
		line-height: 20px;
		top: 200px;
	}
}

@media (min-width: 471px) {
	.respimg {
		width: 600px;
	}

	.contenido {
		width: 600px;
		height: 450px;
	}

	#cerrar+label {
		height: 40px;
		width: 40px;
		line-height: 40px;
	}
}

.popup {
	width: 100%;
	height: 100vh;
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	top: 0;
	left: 0;
	display: flex;

	animation: popup 2s 3s forwards;
	visibility: hidden;
	opacity: 0;
	z-index: 49;

}

.contenido {
	margin: auto;
	background: white;
	border-radius: 10px;
	cursor: pointer;
	z-index: 50;
}

.respimg {
	border-radius: 10px;


}

#cerrar {
	display: none;
	z-index: 50;
}

#cerrar+label {
	position: fixed;
	color: #FFFFFF;
	font-size: 25px;
	text-align: center;
	z-index: 51;
	background: darkred;
	border-radius: 50%;
	right: 25%;
	cursor: pointer;

	animation: popup 2s 3s forwards;
	visibility: hidden;
	opacity: 0;

}

#cerrar:checked+label,
#cerrar:checked~.popup {
	display: none;
}

@keyframes popup {
	100% {
		visibility: visible;
		opacity: 1;
	}
}