@charset "UTF-8";
/*@font-face {
    font-family: 'ikaros_light';
	src: url('../../fonts/ikaros/ikaros-light.otf');
	src: url('../../fonts/ikaros/ikaros-light-webfont.eot');    
	src: url('../../fonts/ikaros/ikaros-light-webfont.eot?#iefix') format('embedded-opentype'),         
	url('../../fonts/ikaros/ikaros-light-webfont.woff2') format('woff2'),         
	url('../../fonts/ikaros/ikaros-light-webfont.woff') format('woff'),         
	url('../../fonts/ikaros/ikaros-light-webfont.ttf') format('truetype'),         
	url('../../fonts/ikaros/ikaros-light-webfont.svg#ikaros_sanslight') format('svg');    
	font-weight: normal;    
	font-style: normal;
}*/
/*@font-face {
    font-family: 'ikaros_regular';
	src: url('../../fonts/ikaros/ikaros-regular.otf');   
	src: url('../../fonts/ikaros/ikaros-regular-webfont.eot');    
	src: url('../../fonts/ikaros/ikaros-regular-webfont.eot?#iefix') format('embedded-opentype'),        
	url('../../fonts/ikaros/ikaros-regular-webfont.woff2') format('woff2'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.woff') format('woff'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.ttf') format('truetype'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.svg#ikaros_sans_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
/*@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-BlkCn';
    src: url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.eot');
    src: local('☺'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.woff') format('woff'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.ttf') format('truetype'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Blk';
    src: url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.eot');
    src: local('☺'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.woff') format('woff'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.ttf') format('truetype'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.svg') format('svg');
    font-weight: normal;	
    font-style: normal;
}*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@import '../../css/hover.css';
html {
  font-size: 16px;
  background: #2F4598;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  padding-top: 110px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
}

section {
  margin-top: 3rem;
}
@media (max-width: 767px) {
  section {
    margin-top: 1.5rem;
  }
}

.container {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

header .contacto_hea {
  width: 100%;
  background: #2f4598;
  background: linear-gradient(top, #2f4598 20%, #2b54a1 49%, #226bb3 71%, #00a6e7 100%);
  box-shadow: 0px 0px 5px 0px rgba(2, 4, 0, 0.75);
  font-size: 23px;
  color: white;
  animation-duration: 3s;
  animation-delay: 2s;
  padding: 0.5rem 0;
}
header .contacto_hea .horario_atencion {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  header .contacto_hea .horario_atencion {
    display: none;
  }
}
@media (min-width: 768px) {
  header .contacto_hea .horario_atencion {
    flex-direction: row;
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}
header .contacto_hea .horario_atencion img {
  width: 25px;
  margin-right: 0.5rem;
}
@media (max-width: 767px) {
  header .contacto_hea .horario_atencion img {
    display: none;
  }
}
header .contacto_hea .horario_atencion_header_tipos {
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}
header .contacto_hea .horario_atencion_header_tipos p {
  text-transform: uppercase;
}
header .contacto_hea .horario_atencion_header_tipos .dias_atencion {
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-weight: 600;
}
header .contacto_hea .datos_contacto {
  display: flex;
  align-items: center;
  font-size: 1rem;
  letter-spacing: 0.02em;
  font-family: "Oswald", sans-serif;
}
@media (min-width: 991px) {
  header .contacto_hea .datos_contacto {
    justify-content: flex-end;
  }
}
header .contacto_hea .datos_contacto a {
  color: #fff;
  margin-left: 0.5rem;
}
header .contacto_hea .datos_contacto a:hover {
  text-decoration: underline;
}
@media (max-width: 991px) {
  header .contacto_hea .datos_contacto .consulta_header {
    font-size: 0.8em;
    width: auto;
    margin-bottom: 0;
    text-align: center;
  }
}
header .contacto_hea .datos_contacto .imagen_wh {
  width: 22px;
}
header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 992px) {
  header .nav-container {
    padding: 1rem 0;
  }
}
@media (max-width: 991px) {
  header .nav-container .btn_menu2 {
    width: 65%;
  }
}
header .nav-container .menu {
  list-style: none;
  float: right;
}
@media (max-width: 991px) {
  header .nav-container .menu {
    position: absolute;
    top: 98px;
    right: -75vw;
    margin-right: 0px;
    width: 75vw;
    float: right;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    transition: all 1s ease;
  }
}
header .nav-container .menu ul {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  background: #fff;
  padding: 0;
  width: 100%;
}
@media (max-width: 991px) {
  header .nav-container .menu ul {
    flex-direction: column;
  }
}
header .nav-container .menu ul li {
  border: 0.5px #0192d5;
  font-family: "Oswald", sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  color: #000;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 767px) {
  header .nav-container .menu ul li {
    border-bottom: 1px solid #93dbff;
  }
}
header .nav-container .menu ul li:last-child {
  border: 0;
}
header .nav-container .menu ul li:last-child a {
  color: #0192d5;
}
header .nav-container .menu ul li:last-child a:hover {
  color: #fff;
}
header .nav-container .menu ul a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
header .nav-container .menu ul a:hover {
  background-image: linear-gradient(to right, rgb(0, 166, 231) 0%, rgb(34, 107, 179) 25%, rgb(43, 84, 161) 50%, rgb(47, 69, 152) 75%);
  box-shadow: 0px 0px 0px 0px rgba(2, 1, 0, 0.25);
  color: #fff;
}
header .nav-container .menu ul ul {
  display: none;
}
header .nav-container .menu ul li:hover ul {
  display: block;
  position: absolute;
  z-index: 15000000;
  margin-top: 11px;
  background: rgb(255, 255, 255);
  right: auto;
  border: none;
  left: 0;
  width: auto;
  min-width: 300px;
  top: 30px;
  box-shadow: 1px 2px 8px #cac8c8;
}
@media (max-width: 768px) {
  header .nav-container .menu ul li:hover ul {
    overflow-y: scroll;
    width: 250px;
    height: 350px;
    margin-top: 20px;
  }
}
header .nav-container .menu .submenu {
  display: flex;
  justify-content: flex-start;
  padding: 10px 20px;
  position: relative;
}
@media (max-width: 991px) {
  header .nav-container .menu .submenu {
    padding: 15px 13px;
  }
}
header .nav-container .menu .submenu:hover {
  background: #0192d5;
  color: white !important;
  margin-top: 0px;
  background-image: linear-gradient(to right, rgb(0, 166, 231) 0%, rgb(34, 107, 179) 25%, rgb(43, 84, 161) 50%, rgb(47, 69, 152) 75%);
}
header .nav-container .menu .submenu:hover ul {
  background: #0192d5;
  color: white;
  margin-right: 60px;
  width: auto;
  overflow: auto;
}
header .nav-container .menu .submenu:hover ul li a {
  color: #fff;
}
header .nav-container .menu .submenu:hover ul li:last-child {
  border: 0;
}
header label {
  display: none;
}
header label i {
  font-size: 2rem;
  color: #008CD1;
}
@media (max-width: 991px) {
  header label {
    display: block;
    cursor: pointer;
  }
}
header .botoner_completa {
  width: 100%;
  z-index: 7;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.5);
  animation-delay: 2s;
}
@media (max-width: 991px) {
  header .botoner_completa {
    width: 100%;
  }
}
header .logo_h {
  float: left;
  width: 13em;
  animation-duration: 6.5s;
  animation-delay: 3s;
}
@media (max-width: 767px) {
  header .logo_h {
    width: 11em;
  }
}
header .imagen_cabesal {
  width: 100%;
  height: 170px;
  background: url("../../img/fondo-header.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header .imagen_cabesal {
    height: 180px;
  }
}
header .imagen_cabesal .sello_premiun {
  width: 7%;
}
@media (max-width: 767px) {
  header .imagen_cabesal .sello_premiun {
    width: 30%;
  }
}

.img_produc {
  margin: 20px auto 0;
  display: block;
  max-width: 100%;
}

.img_produc_pintura {
  width: 100%;
  margin: auto;
  align-content: center;
  margin-bottom: 20px;
}

#btn-menu {
  display: none;
}

.caja_cont {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  width: 100px;
  height: 100px;
}

.td08b_2 {
  font-family: "Rubik", sans-serif;
  color: #333;
  text-align: center;
  padding: 10px;
}

.texto22 {
  color: #009fe1;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 15px;
  letter-spacing: 0.1em;
  padding: 0 15px 0 15px;
}
@media (max-width: 767px) {
  .texto22 {
    margin-top: 2px;
  }
}

.presupuesto {
  margin-top: 50px;
}

.boton-presupuesto {
  padding: 12px 25px;
  background-color: #0192d5;
  width: 60%;
  color: #fff;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin: auto;
  border-radius: 0.5rem;
}
.boton-presupuesto:hover {
  background-color: #2a58a4;
  color: #fff;
}

.sobre_nosotros_1 {
  margin-top: 50px;
}
.sobre_nosotros_1 .texto223 {
  text-align: left;
  color: #009fe1;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.staff_1 {
  width: 100%;
}
@media (min-width: 768x) {
  .staff_1 {
    margin-top: 50px;
  }
}

.logo_seguro {
  width: 45%;
  display: flex;
}

.texto_seguro {
  margin-bottom: 0;
}

.texto_seguro_3 {
  font-size: 1em;
  max-width: 560px;
}

.separ-secciones {
  padding: 40px 0 25px 0;
}

.separ-secciones_2 {
  padding: 40px 0 25px 0;
}

.span-separ-secciones_2 {
  background-color: #999;
  height: 1px;
  width: 100%;
  margin-top: 0.5rem;
}
@media (max-width: 767px) {
  .span-separ-secciones_2 {
    display: none;
  }
}

.td06_2 {
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.chata_ind {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.boton-zona {
  padding: 15px;
  background-color: #0192d5;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 150px;
  margin: auto;
  border-radius: 0.5rem;
}
.boton-zona:hover {
  background-color: #2a58a4;
}

.boton-zona2 {
  padding: 10px;
  background-color: #0192d5;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.btn_zona {
  margin-top: 75px;
}

.btn_zona2 {
  margin-top: 25px;
}

.img_mapa_2 {
  width: 90%;
  margin: auto;
  margin-top: 2rem;
}

.btn_zona p a {
  text-decoration: none;
  color: #fff;
}

.img_mapa_2 img {
  margin-top: 20px;
}

.alineacion_ser {
  margin-top: 40px;
}

.pileteros_profesionales {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  border: solid 1px;
  border-color: #000;
}
@media (max-width: 900px) {
  .pileteros_profesionales {
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.td08_3 {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: #333;
  padding: 20px 30px;
  margin-top: -20px;
}
@media (max-width: 450px) {
  .td08_3 {
    font-size: 15px;
    padding: 20px;
  }
}

.td08_4 {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  color: #333;
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 20px;
  opacity: 0.8;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 450px) {
  .td08_4 {
    font-size: 1em;
  }
}

.afi_l {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
@media (max-width: 471px) {
  .afi_l {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.afi_lo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (max-width: 471px) {
  .afi_lo {
    width: 44px;
    height: 59px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .afi_lo2 > img {
    margin-left: -35px;
    padding-left: 0;
    padding-bottom: 10px;
    text-align: center;
  }
}
.afi_lo2 {
  display: flex;
  justify-content: center;
}

.afi_lo2 > img {
  padding-left: 20px;
}

@media (max-width: 471px) {
  .seguinos_tex {
    margin-top: 60px;
  }
  .seguinos2 {
    width: 30%;
  }
  .afi_lo {
    width: 30%;
  }
}
.logo_footer_1 {
  margin-top: 50px;
}

.colum-1 {
  margin-top: 30px;
  text-align: left;
}

.colocas_sd {
  display: flex;
  align-self: center;
}

.seguinos {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  margin-top: 100px;
}
@media (max-width: 991px) {
  .seguinos {
    margin-top: -60px;
  }
}

@media (max-width: 471px) {
  .seguinos {
    margin-top: 5px;
    font-size: 5px;
  }
  .seguinos_tex2 {
    margin-left: 0px;
  }
}
.seguinos22 {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

@media (max-width: 471px) {
  .seguinos {
    margin-top: 5px;
    font-size: 5px;
    justify-content: center;
  }
  .seguinos_tex {
    font-size: 10px;
  }
}
.seguinos2 {
  display: flex;
  justify-content: flex-end;
  align-self: center;
}
@media (max-width: 471px) {
  .seguinos2 {
    margin-top: 0px;
    justify-content: center;
  }
}

.seguinos20 {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}
.seguinos20 .icono_face_compa2 {
  width: 24px;
}

@media (max-width: 471px) {
  .seguinos20 {
    margin-top: 0px;
    padding-left: 15px;
  }
}
.texto3n {
  color: #333333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
}
@media (max-width: 500px) {
  .texto3n {
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    line-height: 1.4;
  }
}

/*casas particulares*/
.div-texto-casas {
  float: left;
  width: 50%;
}
@media (max-width: 500px) {
  .div-texto-casas {
    width: 100%;
    margin-left: 0;
  }
}

.div-texto-casas-bac {
  margin-top: 30px;
}
@media (max-width: 767px) {
  .div-texto-casas-bac {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.div-texto-casas4 {
  float: left;
  width: 50%;
}
@media (max-width: 1010px) {
  .div-texto-casas4 {
    width: 100%;
    padding-left: 0;
  }
}

.div-texto-casas2 {
  float: left;
  width: 50%;
  margin-left: 50px;
}
@media (max-width: 767px) {
  .div-texto-casas2 {
    width: 100%;
    margin-left: 0;
  }
}

.texto3sc {
  color: #333333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
}

@media (max-width: 767px) {
  .imgen-moviles-casas212 {
    display: inline-flex;
    width: 100%;
    align-content: center;
    margin-bottom: 2rem;
  }
}
.imagen-casas {
  width: 50%;
  float: right;
  text-align: right;
}
@media (max-width: 500px) {
  .imagen-casas {
    display: none;
  }
}

.td08_casas {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 300;
  height: 18px;
  font-size: 20px;
  padding: 20px;
  line-height: 20px;
  text-align: left;
}

@media (max-width: 450px) {
  .td08 {
    font-size: 14px;
  }
}
.iconos-servicios {
  width: 100%;
  margin: auto;
  text-align: center;
}

.imgen-moviles-casas {
  display: none;
}

@media (max-width: 500px) {
  .imgen-moviles-casas {
    display: inline-flex;
    width: 100%;
    align-content: center;
    margin-bottom: 50px;
  }
}
.imgen-moviles-casas4 {
  display: none;
}

@media (max-width: 1010px) {
  .imgen-moviles-casas4 {
    display: inline-flex;
    width: 100%;
    align-content: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .imgen-moviles-casas21 {
    display: inline-flex;
    width: 100%;
    align-content: center;
    margin-bottom: 50px;
  }
}
.presupuesto-ser {
  margin-top: 40px;
  text-align: center;
  clear: both;
}

.boton-presupuesto2 {
  padding: 10px 40px;
  background-color: #0192d5;
  width: 60%;
  color: #fff;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  text-align: center;
  margin-top: 150px;
  margin: auto;
}

.boton-presupuesto2:hover {
  background-color: #2a58a4;
  color: white;
}

@media (max-width: 900px) {
  .presupuesto-ser {
    clear: both;
  }
  .boton-presupuesto2 {
    clear: both;
  }
}
/*desagote*/
.contenedor-img-desa img {
  width: 80%;
  display: flex;
  align-content: center;
  margin: auto;
  padding: 20px;
}

/*arena multivalvula*/
.foto-arena {
  text-align: right;
}

.foto-multi {
  text-align: left;
}

@media (max-width: 990px) {
  .foto-arena {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
  }
  .foto-multi {
    text-align: center;
    width: 100%;
  }
}
/* productos */
.imagen-produc {
  width: 30%;
  float: right;
  text-align: left;
  margin-right: 150px;
}
@media (max-width: 500px) {
  .imagen-produc {
    display: none;
  }
}

.imagen-produc0 {
  max-width: 100%;
}
@media (min-width: 768px) {
  .imagen-produc0 {
    width: 30%;
    float: right;
    text-align: left;
    margin-right: 150px;
  }
}

.imagen-produc2 {
  width: 50%;
  float: left;
  text-align: left;
}
@media (max-width: 500px) {
  .imagen-produc2 {
    display: none;
  }
}

.imagen-produc23 {
  width: 50%;
  float: left;
  text-align: left;
}
@media (max-width: 767px) {
  .imagen-produc23 {
    display: none;
  }
}

.mapa-ima {
  width: 80%;
  margin: auto;
  clear: both;
  margin-left: -30px;
  margin-right: -30px;
}

.imagen-lugar {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.barrios-a {
  text-align: center;
}

.texto3Zona {
  color: #333333;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .animated {
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
  }
}
.servicios-sugeridos-icon {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
}
@media (min-width: 1200px) {
  .servicios-sugeridos-icon {
    grid-template-columns: repeat(5, 1fr);
  }
}
.servicios-sugeridos-icon .icon-sugeridos-tama {
  min-width: 30%;
}

@media (max-width: 1200px) {
  .icon-sugeridos-tama {
    width: 100%;
    padding-top: 20px;
  }
}
.td07pp {
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 600;
  line-height: 1.3;
}
.td07pp p {
  margin-bottom: 0.5rem;
}

.td08bac {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 400;
  padding-bottom: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.icon-suge {
  width: 6em;
  margin-bottom: 0.5rem;
}

.td06_22 {
  font-size: 26px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 400;
}

.servicios-suge-localidades {
  text-align: center;
}

.btn_file2 {
  position: absolute;
  background: #0192D5;
  height: 50px;
  margin-bottom: 30px;
  margin-top: -80px;
  margin-left: 180px;
  border-radius: 0.5rem;
}

.text_file2 {
  color: #fff;
  letter-spacing: 1px;
  padding: 12px;
  font-family: "Oswald", sans-serif;
  border-radius: 0.5rem;
}

.icono_face_compa {
  width: 80%;
}

.ir-arriba {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 25px;
  z-index: 3000;
}

.horarios_atencion {
  font-family: "Oswald", sans-serif;
  margin: 0;
  letter-spacing: 0.02em;
}

.horarios_atencion:before {
  content: "|";
  display: inline-block;
  margin: 0 10px;
}

/* datos contacto*/
.datos_contacto {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .datos_contacto {
    width: 60%;
  }
}

.consulta_header {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.tel_1 {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  margin-top: 6px;
  color: white;
}

.tel_1:hover {
  color: white;
}

.separador_tel_header {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  margin-top: 6px;
  color: #fff;
  padding-left: 6px;
}

@media (max-width: 640px) {
  .datos_contacto {
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  div p .datos_contacto {
    font-size: 0.5em;
    width: 100%;
    text-align: center;
  }
  .tel_1 {
    text-align: center;
    padding: 1px;
    font-size: 10px;
  }
  .tel_2 {
    font-size: 14px;
  }
  .separador_tel_header {
    font-size: 7px;
  }
}
/*imagen header*/
.img-header-1 {
  width: 100%;
  height: 20px;
  background-color: red;
  float: left;
  position: absolute;
  animation-duration: 4s;
  animation-delay: 5s;
}

@media (max-width: 675px) {
  .img-header-1 {
    margin-top: -20px;
  }
}
/*acordeaon faq*/
.acordeon input {
  display: none;
  margin: 0;
}

@media (min-width: 768px) {
  .acordeon {
    padding: 20px;
  }
}
@media (max-width: 1132px) {
  .acordeon__titulo {
    width: 100%;
  }
}
.acordeon__titulo {
  padding: 0.25rem 0;
  font-weight: 400;
}
.acordeon__titulo:hover {
  color: #2b54a1;
  cursor: pointer;
}

.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
}
@media (max-width: 991px) {
  .acordeon__contenido {
    margin-top: -1em;
  }
}

.acordeon input:checked ~ .acordeon__contenido {
  height: auto;
  margin: 15px 0;
  margin-bottom: 10px;
  color: #008CD1;
  font-family: "Rubik", sans-serif;
  transition: all 0.5s ease-in-out;
  font-weight: 400;
}

.destacamos-list {
  margin-left: 0.5rem;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  padding-left: 1rem;
}
.destacamos-list li::marker {
  color: #0192d5;
  font-size: 1.35em;
}

@media (max-width: 991px) {
  .logo_footer_1 {
    margin-bottom: 2em;
  }
  .img-fiscal {
    padding-bottom: 11em;
    padding-left: 1em;
    text-align: center;
  }
  .redes_footer_2 {
    display: inline;
  }
  .horario_atencion2 {
    margin-top: 5px;
    margin-left: 20px;
    text-align: center;
    width: auto;
  }
  .horario_atencion_header_icon2 {
    width: 35px;
    height: 35px;
    margin-left: -20px;
  }
  .horario_atencion_header_tipos2 {
    font-size: 16px;
    line-height: 10px;
    margin-top: 13px;
    margin-left: -20px;
  }
  .dias_atencion2 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }
  .horarios_atencion2 {
    font-family: "Rubik", sans-serif;
  }
}
#contenedor_trabajo {
  overflow: hidden;
}

.td01 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #fff;
  font-weight: 300;
  padding-top: 10px;
}

.td02 {
  font-size: 32px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 900;
  padding-top: 2px;
  letter-spacing: -0.01em;
}

.link-td02 {
  color: #fff;
}

.link-td02:hover {
  color: #0192d5;
  text-decoration: none;
}

.td03 {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: #fff;
  font-weight: 600;
  padding-top: 1px;
  letter-spacing: 0.3em;
}

.link-td03 {
  color: #fff;
}

.link-td03:hover {
  color: #0192d5;
  text-decoration: none;
}

.td04 {
  font-size: 18px;
  font-family: "Oswald", sans-serif, sans-serif;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.link-td04 {
  color: #fff;
}

.link-td04:hover {
  color: #0192d5;
  text-decoration: none;
}

.td05 {
  padding-top: 6px;
}

.cont-iconos {
  padding-top: 30px;
}

.cont-iconos table td {
  padding-top: 10px;
}

.td06 {
  font-size: 26px;
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 300;
}
@media (max-width: 991px) {
  .td06 {
    margin-top: 15px;
  }
}

.td07 {
  font-size: 17px;
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 600;
}
.td07 p {
  margin: 0;
}

.boton-click-aqui {
  padding: 12px 25px;
  background-color: #0192d5;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.boton-click-aqui:hover {
  background-color: #2a58a4;
}

.contenedor-contactanos {
  padding-top: 35px;
}

@media (max-width: 500px) {
  .td-img-nuestro-staff img {
    height: 177px;
    width: 250px;
  }
}
.separ-secciones {
  padding: 80px 0 25px 0;
}

.span-separ-secciones {
  background-color: #999;
  height: 1px;
  width: 100%;
}

.contenedor-slider {
  width: 100%;
  box-shadow: 2px 8px 5px -5px rgba(0, 0, 0, 0.75);
}
@media (max-width: 767px) {
  .contenedor-slider {
    width: 100% !important;
  }
}

.separ-botton-slider {
  background: #333333;
  width: 100%;
  height: 12px;
}

.texto1 {
  color: #333333;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 1.5rem 0 1rem;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .texto1 {
    font-size: 24px;
  }
}

.texto2 {
  color: #009fe1;
  font-size: 1.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 0 15px 15px 15px;
}
@media (max-width: 767px) {
  .texto2 {
    font-size: 1.25rem;
  }
}

.cont-items {
  padding-top: 25px;
}

.item1 {
  background: url("../img/item1.jpg") no-repeat;
  width: 239px;
  height: 284px;
  margin: auto;
  margin-bottom: 25px;
}

.item2 {
  background: url("../img/item2.jpg") no-repeat;
  width: 239px;
  height: 284px;
  margin: auto;
  margin-bottom: 25px;
}

.item3 {
  background: url("../img/item3.jpg") no-repeat;
  width: 239px;
  height: 284px;
  margin: auto;
  margin-bottom: 25px;
}

.texto3 {
  color: #333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
@media (max-width: 500px) {
  .texto3 {
    font-size: 20px;
    line-height: 26px;
  }
}

.texto31 {
  color: #333333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
}

.texto313 {
  color: #333333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-right: 20px;
}

.texto311 {
  color: #333333;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.texto4 {
  color: #009fe1;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 45px;
  text-decoration: underline;
  letter-spacing: 0.04em;
}

.texto5 {
  color: #009fe1;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 25px;
  text-decoration: underline;
  letter-spacing: 0.02em;
}

.seccion-inicio {
  max-width: 950px;
  height: 1000px;
  margin: auto;
  background-color: #fff;
  padding-top: 35px;
}

.img-center {
  margin: 0 auto;
  display: block;
}

.h3-center {
  margin: 0 auto;
  text-align: center;
}

.p-center {
  margin: 0 auto;
  text-align: center;
}

#respuesta1 {
  margin-top: 50px;
}

form {
  width: 100%;
  margin: auto;
  text-align: left;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.btn_file {
  position: relative;
  border: 1px solid #0192D5;
  width: 170px;
  height: 50px;
}

.text_file {
  color: grey;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-left: 12px;
}

.adjuntar {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 1.42857143;
  letter-spacing: 1px;
  color: #555;
  background-image: none;
  border: 1px solid #888;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-bottom: 1.5rem;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

input:-webkit-input-placeholder {
  padding-top: 30px;
  opacity: 100%;
}

input:-moz-placeholder {
  padding-top: 30px;
  opacity: 100%;
}

input:-ms-input-placeholder {
  padding-top: 30px;
  opacity: 100%;
}

.btn-submit {
  background-color: #0192d5;
  border: 0;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  font-family: "Oswald", sans-serif;
  border-radius: 0.5rem;
}
.btn-submit:hover {
  background-color: #2a58a4;
}

input.btn-primary {
  margin-top: 15px;
}

.container-news {
  width: 100%;
  margin-top: 38px;
}

.well {
  border: 0;
  margin: auto !important;
}

.thumbnail {
  background: transparent;
}

.form-newsletter {
  margin-top: 25px;
  padding: 0;
  text-align: center;
  width: 90%;
}

.input-group {
  border-collapse: separate;
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}

.td08 {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 300;
  height: 14px;
  text-align: left;
}

.td08b {
  font-family: "Rubik", sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  vertical-align: top;
  height: 85px;
}

.separ-01 {
  background-color: #333;
  height: 1px;
}

.td09 {
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  color: #333 !important;
  font-weight: 600;
  letter-spacing: 0.11em;
  height: 32px;
  text-align: left;
  text-decoration: none !important;
}

.link-td09 {
  color: #333;
}
.link-td09:hover {
  color: #0192d5;
  text-decoration: none;
}

.td10 {
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.42em;
  background-color: #fff;
  text-align: left;
}

.td11 {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: #333;
  font-weight: 600;
  letter-spacing: 0.01em;
}

.link-td11 {
  color: #333;
}
.link-td11:hover {
  color: #0192d5;
  text-decoration: none;
}

.boton-mas {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #0192d5;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}
.boton-mas:hover {
  background-color: #2a58a4;
  cursor: pointer;
}

.btn-subir {
  float: right;
  margin-right: 80px;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .btn-subir {
    margin-right: 40px;
    margin-top: 40px;
  }
}

@media (max-width: 470px) {
  .respimg {
    width: 200px;
  }
  .contenido {
    width: 200px;
    height: 150px;
  }
  #cerrar + label {
    height: 20px;
    width: 20px;
    line-height: 20px;
    top: 200px;
  }
}
@media (min-width: 471px) {
  .respimg {
    width: 600px;
  }
  .contenido {
    width: 600px;
    height: 450px;
  }
  #cerrar + label {
    height: 40px;
    width: 40px;
    line-height: 40px;
  }
}
.popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  animation: popup 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
  z-index: 49;
}

.contenido {
  margin: auto;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 50;
}

.respimg {
  border-radius: 10px;
}

#cerrar {
  display: none;
  z-index: 50;
}

#cerrar + label {
  position: fixed;
  color: #FFFFFF;
  font-size: 25px;
  text-align: center;
  z-index: 51;
  background: darkred;
  border-radius: 50%;
  right: 25%;
  cursor: pointer;
  animation: popup 2s 3s forwards;
  visibility: hidden;
  opacity: 0;
}

#cerrar:checked + label,
#cerrar:checked ~ .popup {
  display: none;
}

@keyframes popup {
  100% {
    visibility: visible;
    opacity: 1;
  }
}
/*CLORADORES SALINOS
********************************************/
.cloradores-img {
  max-width: 600px;
  margin: 0 auto 3rem;
  display: block;
  width: 100%;
}

.cloradores-instalaciones-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin: 1rem 0 3rem;
}
@media (min-width: 992px) {
  .cloradores-instalaciones-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cloradores-img-instalaciones {
  width: 100%;
}

/*SERVICIO DE LIMPIEZA Y PINTURA DE BORDES ATÉRMICOS
**********************************************************/
.bordes-atermicos-wrapper {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem 0 2rem;
}
.bordes-atermicos-wrapper img {
  width: 100%;
  box-shadow: 0 0 0.1rem #eee;
  height: 100%;
  object-fit: cover;
}

footer .fondo_pie {
  background: url("../../img/fondo_nuevo_pie.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 525px;
  margin-top: 75px;
}
@media (max-width: 992px) {
  footer .fondo_pie {
    height: auto;
    padding-bottom: 75px;
  }
}
footer .fondo_pie .seguinos_tex {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 600;
}
footer .fondo_pie .seguinos_tex2 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-right: 1rem;
}
footer .fondo_pie .texto_pie_lis {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  color: #333;
  line-height: 150%;
  list-style: none;
  padding: 0;
}
footer .fondo_pie .seguinos2 {
  margin-top: 0px;
}
footer .fondo_pie .sello_premiun2 {
  text-align: center;
  margin: auto;
}
footer .fondo_pie .acordeon2 input {
  display: none;
  margin: 0;
}
footer .fondo_pie .acordeon__titulo {
  display: block;
  padding: 11px;
  background: #008CD1;
  color: white;
  font-size: 20px;
  font-family: "Rubik", sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  letter-spacing: 2px;
  margin-top: 10px;
  padding-top: 25px;
  text-align: center;
  cursor: pointer;
}
footer .fondo_pie .acordeon__titulo2 {
  display: block;
  padding: 11px;
  border: solid 3px #008CD1;
  color: #363636;
  font-size: 15px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  cursor: pointer;
  width: 100%;
  font-weight: 600;
}
footer .fondo_pie .acordeon__titulo2:hover {
  background: linear-gradient(to bottom, #2f4598 20%, #2b54a1 49%, #226bb3 71%, #00a6e7 100%);
  color: #fff;
  border: none;
}
footer .fondo_pie .acordeon__contenido2 {
  height: 0;
  overflow: hidden;
  margin: 0;
}
footer .fondo_pie .acordeon2 input:checked ~ .acordeon__contenido2 {
  height: auto;
  margin: 15px 0;
  padding: 15px;
  font-size: 1em;
  margin-bottom: 20px;
  margin-top: -0.5em;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  transition: height border font-family 0.5s ease-in-out;
  text-align: left;
}
footer .fondo_pie .columnas-listas-pie {
  padding-top: 30px;
}
footer .fondo_pie .columnas-listas-pie ul li {
  font-size: 1rem;
  margin-bottom: 0.35rem;
}
footer .fondo_pie .columnas-listas-pie ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 400;
}
footer .fondo_pie .columnas-listas-pie ul li a:hover {
  text-decoration: underline;
  color: #008CD1;
}
footer .fondo_pie .footer-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer .fondo_pie .footer-images {
    flex-direction: row;
    align-items: flex-start;
  }
}
footer .fondo_pie .footer-images > div {
  display: flex;
}
@media (min-width: 768px) {
  footer .fondo_pie .footer-images .sello_premiun {
    transform: translateY(-2.5rem);
  }
}
footer .fondo_pie .footer-images .img-fiscal2 {
  margin-bottom: 2rem;
}
footer .fondo_pie .footer-images .sello_premiun {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  footer .fondo_pie .footer-images .sello_premiun {
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
