footer {
    .fondo_pie {
        background: url("../../images/fondo_nuevo_pie.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        margin-top: 75px;
        padding-bottom: 75px;
        
        /* @include media-breakpoint-up(lg) {
            padding-bottom: 0;
        } */

        .seguinos_tex {
            font-family: $secondary-font;
            font-size: 20px;
            text-align:left;
            margin-top: 0px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        
        .seguinos_tex2 {
            font-family: $secondary-font;
            font-size: 20px;
            font-weight: 600;
            margin-right: 1rem;
        }
        
        .texto_pie_lis {
            font-size: 15px;
            font-family: $primary-font;
            color: #333;
            line-height:150%;
            list-style: none;
            padding: 0;
        }
              
        .seguinos2{
            margin-top:0px;
        }

        .sello_premiun2{
            text-align:center;
            margin:auto;
        }
        
        .acordeon2 input{
            display:none;
            margin:0;
        }

        .acordeon__titulo{
            display:block;
            padding:11px;
            background:#008CD1;
            color:white;
            font-size:20px;
            font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            letter-spacing:2px;
            margin-top:10px;
            padding-top:25px;
            text-align: center;
            cursor: pointer;
        
        }
        
        .acordeon__titulo2{
            display: block;
            padding: 11px;
            border: solid 3px #008CD1;
            color:#363636;
            font-size:15px;
            font-family: $secondary-font;
            text-align:left;
            cursor: pointer;
            width: 100%;
            font-weight: 600;
        }
        
        .acordeon__titulo2:hover {
            background: linear-gradient(to bottom, #2f4598 20%,#2b54a1 49%,#226bb3 71%,#00a6e7 100%);
            color:#fff;
            border: none;
        }

        .acordeon__contenido2{
            height: 0;
            overflow:hidden;
            margin: 0;
        }
        
        .acordeon2 input:checked ~ .acordeon__contenido2{
            height:auto;
            margin:15px 0;
            padding:15px;
            font-size:1em;
            margin-bottom:20px;
            margin-top:-0.5em;
            margin-left:10px;
            font-family: $primary-font;
            transition: height border font-family  0.5s ease-in-out;
            text-align: left;
        }

        .columnas-listas-pie {
            @include media-breakpoint-up(lg) {
                padding-top: 30px;
            }

            ul {
                li {
                    font-size: 1rem;
                    margin-bottom: 0.35rem;
                    a {
                        text-decoration: none;
                        color: #333;
                        font-weight: 400;

                        &:hover {
                            text-decoration: underline;
                            color: #008CD1;
                        }
                    }
                }
            }
        }

        .footer-images {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;

            @media(min-width: 768px) {
                flex-direction: row;
                align-items: flex-start;
            }

            &>div {
                display: flex;
            }

            .img-fiscal2 {
                margin-bottom: 2rem;
            }

            .sello_premiun {
                margin-top: 2rem;

                @media(min-width: 768px) {
                    margin: 0;
                }
            }
        }

    }

    .whatsapp-button {
        animation: bounce 1s infinite;
        position: fixed;
        left: 1rem;
        bottom: 1rem;
        display: inline-block;
        background-color: $color-whatsapp;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .6rem;
        z-index: 999;

        svg {
            width: 2.5rem;
            height: 2.5rem;
        }
    }

    .emailMarketingSubscriptionFormContainer.formID_subscriptionForm-51598-2 {
        padding-left: 0 !important;
        margin-top: 1rem;
    }

    .copy {
        background-color: #152668;
        text-align: center;
        font-size: 0.8rem;
        padding: 0.8rem 0;
        color: $color-white;
    }
}