html {
    font-size: 16px;
    background: #2F4598;
}

body {
    font-family: $primary-font;
    font-weight: 300;
    padding-top: 105px;
    line-height: 1.4;
    overflow-x: hidden;
    @include media-breakpoint-up(lg) {
        padding-top: 132px;
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: $color-blue-main;
    &:hover {
        color: $color-blue-dark;
        text-decoration: underline;
    }
}

strong {
    font-weight: 600;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-weight: 600;
    line-height: 1.2;
}

p {
    &:last-child {
        margin-bottom: 0;
    }
}

ul {
    padding-left: 1.5rem;
    li {
        &::marker {
            color: $color-blue-main;
            font-size: 1.35rem;
        }
    }
}

section {
    margin-top: 3rem;

    @media(max-width: 767px) {
        margin-top: 2rem;
    }
}

.container {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*Lightgallery
**********************************/
.lg-sub-html {
    font-weight: 500;
}


/*Buttons
************************************/
.boton-presupuesto {
	padding: 12px 25px;
	background-color: $color-blue-main;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-family: $secondary-font;
	font-weight: 600;
	text-align: center;
	border-radius: 0.5rem;
	text-decoration: none !important;
    text-transform: uppercase;

	&:hover {
		background-color: #2a58a4;
		color: #fff;
	}
}

.boton-click-aqui {
	padding: 10px 25px;
	background-color: $color-blue-main;
	display: inline-block;
	color: #fff !important;
	font-size: 16px;
	font-family: $secondary-font;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-decoration: none !important;
	border-radius: .5rem;
	margin-bottom: 1rem;

	&:hover {
		background-color: #2a58a4;
	}
}

@keyframes popup {
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes bounce {
    0%,
    to {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1)
    }

    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1)
    }
}


// @media (prefers-color-scheme: dark) {
//   header {
//     .logo_h {
//         filter: invert(1);
//     }
//   }
// }