//FONTS
$primary-font: 'Rubik', sans-serif;
$secondary-font: 'Oswald', sans-serif;

//COLORS
$color-white: #fff;
$color-black: #000;

$color-font-main: #333;
$color-blue-main: #0192d5;
$color-blue-dark: #2f4598;
$color-whatsapp: #1fca1f;
$color-whatsapp-hover: #0eb50e;