/*@font-face {
    font-family: 'ikaros_light';
	src: url('../../fonts/ikaros/ikaros-light.otf');
	src: url('../../fonts/ikaros/ikaros-light-webfont.eot');    
	src: url('../../fonts/ikaros/ikaros-light-webfont.eot?#iefix') format('embedded-opentype'),         
	url('../../fonts/ikaros/ikaros-light-webfont.woff2') format('woff2'),         
	url('../../fonts/ikaros/ikaros-light-webfont.woff') format('woff'),         
	url('../../fonts/ikaros/ikaros-light-webfont.ttf') format('truetype'),         
	url('../../fonts/ikaros/ikaros-light-webfont.svg#ikaros_sanslight') format('svg');    
	font-weight: normal;    
	font-style: normal;
}*/


/*@font-face {
    font-family: 'ikaros_regular';
	src: url('../../fonts/ikaros/ikaros-regular.otf');   
	src: url('../../fonts/ikaros/ikaros-regular-webfont.eot');    
	src: url('../../fonts/ikaros/ikaros-regular-webfont.eot?#iefix') format('embedded-opentype'),        
	url('../../fonts/ikaros/ikaros-regular-webfont.woff2') format('woff2'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.woff') format('woff'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.ttf') format('truetype'),         
	url('../../fonts/ikaros/ikaros-regular-webfont.svg#ikaros_sans_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/

/*@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-BlkCn';
    src: url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.eot');
    src: local('☺'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.woff') format('woff'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.ttf') format('truetype'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-BlkCn.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueLTStd-Blk';
    src: url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.eot');
    src: local('☺'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.woff') format('woff'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.ttf') format('truetype'), 
    url('../../fonts/helvetica/HelveticaNeueLTStd-Blk.svg') format('svg');
    font-weight: normal;	
    font-style: normal;
}*/




