footer {
    .fondo_pie {
        background: url("../../img/fondo_nuevo_pie.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 525px;
        margin-top:75px;
        
        @media(max-width: 992px){
            height: auto;
        }

        .seguinos_tex {
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            text-align:left;
            margin-top: 0px;
            margin-bottom: 15px;
            font-weight: 600;
        }
        
        .seguinos_tex2 {
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            text-align:left;
            margin-top: 0;
            margin-bottom:0;
            font-weight: 600;
        }
        
        .texto_pie_lis {
            font-size: 15px;
            font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            color: #333;
            line-height:150%;
            list-style: none;
            padding: 0;
        }
        
        .seguinos_tex2{
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            margin-right: 5px;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 600;
        }
        
        .seguinos2{
            margin-top:0px;
        }

        .acordeon__footer{
            display:none;
        }
            
        .redes_footer_2{
            display:none;
        }

        .img-fiscal2 {
            margin-left:-30px;
        }

        .img-fiscal {
            display:none;
        }

        .sello_premiun2{
            text-align:center;
            margin:auto;
        }
        
        .acordeon2 input{
            display:none;
            margin:0;
        }

        .acordeon__titulo{
            display:block;
            padding:11px;
            background:#008CD1;
            color:white;
            font-size:20px;
            font-family: 'Rubik', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            letter-spacing:2px;
            margin-top:10px;
            padding-top:25px;
            text-align: center;
            cursor: pointer;
        
        }
        
        .acordeon__titulo2{
            display: block;
            padding: 11px;
            border:solid 3px #008CD1;
            color:#363636;
            font-size:15px;
            font-family: 'Oswald', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            text-align:left;
            cursor: pointer;
            width: 100%;
            font-weight: 600;
        }
        
        .acordeon__titulo2:hover {
            background: linear-gradient(to bottom, #2f4598 20%,#2b54a1 49%,#226bb3 71%,#00a6e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            color:white;
            border:none;
        }

        .acordeon__contenido2{
            height: 0;
            overflow:hidden;
            margin: 0;
        
        }
        
        .acordeon2 input:checked ~ .acordeon__contenido2{
            height:auto;
            margin:15px 0;
            padding:15px;
            font-size:1em;
            margin-bottom:20px;
            margin-top:-0.5em;
            margin-left:10px;
            font-family: 'Rubik', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
            transition: height border font-family  0.5s ease-in-out;
            text-align:left;
        }

        .columnas-listas-pie {
            padding-top: 30px;

            ul {
                li {
                    font-size: 1rem;
                    margin-bottom: 0.35rem;
                    a {
                        text-decoration: none;
                        color: #333;
                        font-weight: 400;

                        &:hover {
                            text-decoration: underline;
                            color: #008CD1;
                        }
                    }
                }
            }
        }

    }
}