html {
    font-size: 16px;
    background: #2F4598;
}

body {
    font-family: $primary-font;
    font-weight: 300;
    padding-top: 110px;
    line-height: 1.4;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}


section {
    margin-top: 3rem;

    @media(max-width: 767px) {
        margin-top: 1.5rem;
    }
}

.container {
    padding-left: 15px !important;
    padding-right: 15px !important;
}