body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
	padding-top: 80px;
}

a {
    text-decoration: none;
}


section {
    margin-top: 3rem;

    @media(max-width: 767px) {
        margin-top: 1.5rem;
    }
}