html {
    font-size: 16px;
    background: #2F4598;
}

body {
    font-family: $primary-font;
    font-weight: 300;
    padding-top: 105px;
    line-height: 1.4;
    overflow-x: hidden;
    @include media-breakpoint-up(lg) {
        padding-top: 132px;
    }
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
    color: $color-blue-main;
    &:hover {
        color: $color-blue-dark;
        text-decoration: underline;
    }
}

strong {
    font-weight: 600;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-weight: 600;
    line-height: 1.2;
}


section {
    margin-top: 2rem;

    @media(max-width: 767px) {
        margin-top: 1.5rem;
    }
}

.container {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*Lightgallery
**********************************/
.lg-sub-html {
    font-weight: 500;
}


/*Buttons
************************************/
.boton-presupuesto {
	padding: 12px 25px;
	background-color: $color-blue-main;
	display: inline-block;
	color: #fff;
	font-size: 18px;
	font-family: $secondary-font;
	font-weight: 600;
	text-align: center;
	border-radius: 0.5rem;
	text-decoration: none !important;
    text-transform: uppercase;

	&:hover {
		background-color: #2a58a4;
		color: #fff;
	}
}