header {

    .contacto_hea {
        width: 100%;
        background: #2f4598; 
        background: linear-gradient(top, #2f4598 20%, #2b54a1 49%, #226bb3 71%, #00a6e7 100%);
        box-shadow: 0px 0px 5px 0px rgba(2, 4, 0, 0.75);
        font-size: 23px;
        color:white;
        animation-duration: 3s;
        animation-delay: 2s;
        padding: 0.5rem 0;

        .horario_atencion {
            display: flex;
            align-items: center;

            @media(max-width: 767px) {
                display: none;
            }

            @media(min-width: 768px) {
                flex-direction: row;
                font-size: .9rem;
                margin-bottom: 0;
            }

            img {
                width: 25px;
                margin-right: .5rem;

                @media(max-width: 767px) {
                    display: none;
                }
            }

            &_header_tipos {
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;

                p {
                    text-transform: uppercase;
                }

                .dias_atencion {
                    font-family: $secondary-font;
                    margin: 0;
                    font-weight: 600;
                }

            }
        }

        .datos_contacto {
            display: flex;
            align-items: center;
            font-size: 1rem;
            letter-spacing: 0.02em;
            font-family: $secondary-font;
            
            @media (min-width: 991px) {
                justify-content: flex-end;
            }

            a {
                color: #fff;
                margin-left: .5rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            .consulta_header{
                @media (max-width: 991px) {
                    font-size: 0.8em;
                    width: auto;
                    margin-bottom: 0;
                    text-align: center;
                }

            }

            .imagen_wh {
                width: 22px;
            }
        }

    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        @media (min-width: 992px) {
            padding: 1rem 0;
        }

        .btn_menu2 {
            @media (max-width: 991px) {
                width: 65%;
            } 
        }

        .menu {
            list-style: none;
            float: right;

            @media (max-width: 991px) {
                position: absolute;
                top: 98px;
                right: -75vw;
                margin-right: 0px;
                width: 75vw;
                float: right;
                z-index: 10;
                display: flex;
                justify-content:flex-start;
                transition: all 1s ease;
            }
        
            ul {
                display: flex;
                list-style: none;
                margin-bottom: 0;
                background: #fff;
                padding: 0;
                width: 100%;

                @media(max-width: 991px) {
                    flex-direction: column;
                }
                
                li {
                    border: 0.5px #0192d5 ;
                    font-family:  'Oswald', sans-serif, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
                    color: #000;
                    font-weight: 600;
                    font-size: 15px;

                    @media (max-width: 767px) {
                        border-bottom: 1px solid #93dbff;
                    }

                    &:last-child {
                        border: 0;   
                    }

                    &:last-child a{
                        color: #0192d5;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
        
                a {
                    display: block;
                    padding: 10px 15px;
                    text-decoration: none;
                    color:#000;
                    text-transform: uppercase;
        
                    &:hover {
                        background-image: linear-gradient(to right, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);
                        box-shadow: 0px 0px 0px 0px rgba(2, 1, 0, 0.25);
                        color: #fff;
                    }
                }
        
                ul {
                    display: none;
                }
        
                li:hover ul{
                    display: block;
                    position: absolute;
                    z-index: 15000000;
                    margin-top: 11px;
                    background: rgba(255, 255, 255, 1);
                    right: auto;
                    border: none;
                    left: 0;
                    width: auto;
                    min-width: 300px;
                    top: 30px;
                    box-shadow: 1px 2px 8px #cac8c8;

                    @media (max-width: 768px) {
                        overflow-y: scroll;
                        width: 250px;
                        height: 350px;
                        margin-top: 20px;
                    }
                }
            }

            .submenu {
                display: flex;
                justify-content: flex-start;
                padding: 10px 20px;
                position: relative;

                @media (max-width: 991px)  {
                    padding: 15px 13px;
                }

                &:hover{
                    background: #0192d5;
                    color: white !important;
                    margin-top: 0px;
                    background-image: linear-gradient(to right, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);

                    ul {
                        background: #0192d5;
                        color: white;
                        margin-right: 60px;
                        width: auto;
                        overflow: auto;

                        li {
                            a {
                                color: #fff;
                            }

                            &:last-child {
                                border: 0;
                            }
                        }
                    }
                 
                }

            }
        
        }
    }

    label {
        display: none;

        i {
            font-size: 2rem;
            color: #008CD1;
        }

        @media (max-width: 991px) {
            display: block;
            cursor: pointer;
        }
    }

    .botoner_completa {
        width: 100%;
        z-index: 7;
        background-color:white;
        position: fixed;
        left: 0;
        top: 0;
        box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.5);
        animation-delay: 2s;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .logo_h {
        float: left;
        width: 13em;
        animation-duration: 6.5s;
        animation-delay: 3s;

        @media (max-width: 767px) {
            width: 11em;
        }
    }

    .imagen_cabesal{
        width: 100%;
        height: 170px;
        background:url("../../img/fondo-header.png") no-repeat center center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width: 767px) {
            height: 180px;
        }

        .sello_premiun{
            width: 7%;

            @media(max-width: 767px) {
                width: 30%;
            }
        }
    }
}