header {

    .contacto_hea {
        width: 100%;
        background: #2f4598; 
        background: -moz-linear-gradient(top, #2f4598 20%, #2b54a1 49%, #226bb3 71%, #00a6e7 100%);
        background: -webkit-linear-gradient(top, #2f4598 20%,#2b54a1 49%,#226bb3 71%,#00a6e7 100%);
        box-shadow: 0px 0px 5px 0px rgba(2, 4, 0, 0.75);
        font-size: 23px;
        color:white;
        animation-duration: 3s;
        animation-delay: 2s;
        padding: 0.5rem 0;

        .horario_atencion {
            display: flex;
            align-items: center;
            font-size: 1rem;

            img {
                width: 25px;
                margin-right: .5rem;
            }

            &_header_tipos {
                display: flex;
                align-items: center;

                p {
                    text-transform: uppercase;
                }

            }
        }

        .datos_contacto {
            display: flex;
            align-items: center;
            font-size: 1.15rem;
            
            @media (min-width: 991px) {
                justify-content: flex-end;
            }

            a {
                color: #fff;
                margin-left: 1rem;
            }

            .consulta_header{
                @media (max-width: 991px) {
                    font-size: 0.75em;
                    width: auto;
                    margin-bottom: 0;
                    text-align: center;
                    transform: translateY(5px);
                }
            }
        }

        .imagen_wh {

            @media(max-width:991px) {
                width: 20px;
                height: 20px;
                margin-left: 1px;
                margin-bottom: 1px;
                margin-right: 0;
            }
        }
    }

    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;

        @media (min-width: 992px) {
            padding: 1rem 0;
        }

        .btn_menu2 {
            @media (max-width: 991px) {
                width: 60%;
                margin-top: -35px;
            } 
        }

        .menu {
            list-style: none;
            float: right;

            @media (max-width: 991px) {
                position: absolute;
                top: 100px;
                right: -150px;
                margin-right: 0px;
                width: auto;
                float: right;
                z-index: 10;
                display: flex;
                justify-content:flex-start;
                transition: all 1s;
            }
        
            ul {
                display: flex;
                list-style: none;
                margin-bottom: 0;
                background: rgba(255, 255, 255, 1);
                padding: 0;

                @media(max-width: 991px) {
                    flex-direction: column;
                }
                
                li {
                    border: 0.5px #0192d5 ;
                    right: 0;
                    font-family:  'Conv_HelveticaNeueLTStd-Blk', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
                    color: #000;
                    font-weight: lighter;
                    font-size: 13px;

                    &:last-child a{
                        color: #0192d5;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
        
                a {
                    display: block;
                    padding: 15px 15px;
                    text-decoration: none;
                    color:#000;
        
                    &:hover {
                        background-image: linear-gradient(to right, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);
                        box-shadow: 0px 0px 0px 0px rgba(2, 1, 0, 0.25);
                        color: #fff;
                    }
                }
        
                ul {
                    display: none;
                }
        
                li:hover ul{
                    display: block;
                    position: absolute;
                    z-index: 15000000;
                    margin-top: 15px;
                    background: rgba(255, 255, 255, 1);
                    right: auto;
                    border: none;
                    left: 0;
                    width: auto;
                    min-width: 300px;
                    top: 30px;
                    box-shadow: 1px 2px 8px #cac8c8;

                    @media (max-width: 991px) {
                        overflow-y: scroll;
                        width: 250px;
                        height: 350px;
                    }
                }
            }

            .submenu{
                display: flex;
                justify-content:center;
                padding: 15px 20px;
                position: relative;

                @media (max-width: 991px)  {
                    padding: 15px 13px;
                }

                &:hover{
                    background: #0192d5;
                    color: white !important;
                    padding: 15px 20px;
                    margin-top: 0px;
                    background-image: -webkit-linear-gradient(left, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);
                    background-image: -o-linear-gradient(left, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);
                    background-image: linear-gradient(to right, rgb(0,166,231) 0%, rgb(34,107,179) 25%, rgb(43,84,161) 50%, rgb(47,69,152) 75%);

                    ul {
                        background: #0192d5;
                        color: white;
                        margin-right: 60px;
                        width: auto;
                        overflow: auto;

                        li {
                            a {
                                color: #fff;
                            }
                        }
                    }
                 
                }

                &:active{
                    display: flex;
                    justify-content: center;
                    padding: 15px 20px;
                }

            }
        
        }
    }

    label {
        display: none;

        i {
            font-size: 2rem;
            color: #008CD1;
        }

        @media (max-width: 991px) {
            display: block;
            padding-top: 42px;

        }
    }

    .botoner_completa {
        width: 100%;
        z-index: 7;
        background-color:white;
        position: fixed;
        left: 0;
        top: 0;
        box-shadow: 2px 0 5px 1px rgba(0, 0, 0, 0.5);
        animation-delay: 2s;

        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .logo_h {
        float: left;
        width: 13em;
        animation-duration: 6.5s;
        animation-delay: 3s;
    }

    .imagen_cabesal{
        width: 100%;
        height:155px;
        background:url("../../img/fondo-header.png") no-repeat center center;
        background-size:cover;
    }
}