.img_produc{
	width:100%;
	margin:auto;
	align-content:center;
	margin-bottom: 20px;
	margin-top: 80px;
}

.img_produc_pintura{
	width:100%;
	margin:auto;
	align-content:center;
	margin-bottom: 20px;
}


body {
	padding-top: 102px;

    p {
        line-height: 1.4;
    } 
    
    @media (max-width: 500px){
        padding-top: -100px;
    }
}



@media (max-width: 678px) {
	
	.logo_h{
		width: 12em;		
	}

}

@media (max-width: 494px) {
	
	.logo_h{
		width: 11em;
	}
}
 

#btn-menu{
	display: none;
}

.caja_cont{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	width: 100px;
	height: 100px;
}

.td08b_2{
	font-family:ikaros_regular, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	text-align: center;
	padding: 10px;
}

.texto22{
	color: #009fe1;
	font-size: 20px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	text-transform: uppercase;
	text-align:center;
	margin-top: 15px;
	letter-spacing: 0.1em;
	padding: 0 15px 0 15px;
}
	
@media (max-width: 500px){
	.texto22{
		margin-top: 2px;
	}
}

.presupuesto{
	margin-top: 50px;
}

.boton-presupuesto{
	padding: 10px 40px 1px 40px;
	background-color: #0192d5;
	width: 60%;
	color: #fff;
	font-size:18px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:300;
	text-align:center;
	margin-top: 50px;
	margin: auto;
	
}
	
.boton-presupuesto:hover{
	    background-color: #2a58a4;
	    color: white;

}

.sobre_nosotros_1{
	margin-top: 50px;
}

.staff_1{
	width: 100%;
	margin-top: 50px;
}


.texto223{
	color: #009fe1;
	font-size: 30px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:800;
	text-transform: uppercase;
	text-align:center;
	margin-left: -20px;
	margin-bottom: -25px;
	margin-top: 50px;
	
}

@media (max-width:500px){
	.texto223{
		margin-left: -10px;
	}
	
}


.logo_seguro{
	width: 40%;
	margin: auto;
	display: flex;
	align-content:center;
}

.texto_seguro{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 0;
}

.texto_seguro_2{
	text-align: center;
}

.texto_seguro_3{
	text-align: center;
	font-size: 1em;
}

.separ-secciones{
	padding: 40px 0 25px 0;
}

.separ-secciones_2{
	padding: 80px 0 25px 0;
}

.span-separ-secciones_2{
		background-color: #999;
		height: 1px;
		width: 100%;
}

.td06_2{
	font-size: 26px;
	margin-top:-10px;
	font-family:ikaros_light, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight:400;
}



@media (max-width: 991px){
	.td06_2{
		margin-top: 15px;
		}
	}

.chata_ind {
	width: 100%;
	margin: auto;
	margin-top: 20px;
}

.texto_zona_1{
	margin-top: 30px;
	margin-bottom: 10px;
}

.boton-zona{
	padding: 20px 10px 1px 10px;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: #0192d5;
	width: 100%;
	color: #fff;
	font-size:18px;
	font-family: 'ikaros_regular', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:300;
	text-align:center;
	margin-bottom:150px; 
	margin: auto;
}

.boton-zona2{
	padding: 20px 10px 1px 10px;
	padding-top: 20px;
	padding-bottom: 5px;
	background-color: #0192d5;
	width: 100%;
	color: #fff;
	font-size:18px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:300;
	text-align:center;
	margin-bottom:50px; 
	margin: left;
	
}
	

.boton-zona:hover{
	background-color: #2a58a4;
}

.btn_zona{
	margin-top: 75px;
}

.btn_zona2{

	margin-top: 25px;
}

.img_mapa_2{
	width: 90%;
	margin:auto;
	margin-top: 50px;
}

.btn_zona p a {

text-decoration: none;
color:white;

}
.img_mapa_2 img{

	margin-top: 20px;
}


.alineacion_ser{
	margin-top: 40px;
}

.pileteros_profesionales{
	margin-top: 50px;
	width: 100%;
	height: 217px;
	overflow: hidden;
	padding: 20px;
	border: solid 1px;
	border-color: black;

}

@media (max-width: 900px){
 .pileteros_profesionales{
 	height: auto;
 	width: 90%;
 	margin-left: auto;
 	margin-right: auto;
 }

}

.td08_3{
	font-size: 18px;
	font-family:'ikaros_light', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	letter-spacing: 0.04em;
	text-align: center;
	padding: 20px 40px;
	margin-top: -20px;
}
	
@media (max-width: 450px){
	.td08_3{
	font-size: 14px;
	padding: 20px;
	
	       }
}  


.td08_4{
	font-size: 30px;
	font-family:ikaros_regular, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	letter-spacing: 0.04em;
	text-align: center;
	margin-top: 20px;
	opacity: 0.8;
	text-transform: uppercase;
	font-weight: bold;
	
}
	
@media (max-width: 450px){
	.td08_4{
	font-size: 1em;
	
	       }
}


.afi_l{
	display: flex;
	flex-direction:row;
	margin-top: 100px;
}
@media (max-width:471px) {
	.afi_l{

	width: 100%;
	margin-top:10px;
	display: flex;
	flex-direction:column-reverse;
	justify-content:center;

	       
	       }
}
.afi_lo{
	
display: flex;
justify-content:center;
 margin-top: 10px;

}

@media (max-width:471px) {
	.afi_lo{

	width: 44px;
	height: 59px;
	margin:auto;
	display: flex;
	flex-direction:column;
	justify-content:center;

	       
	       }

	.afi_lo2>img{

	margin-left:-35px;
	padding-left: 0;
	padding-bottom: 10px;
	text-align: center;
}
}

.afi_lo2{
	display: flex;
	justify-content:center;

}
.afi_lo2>img{

	padding-left:20px;
}

@media (max-width: 471px) {

	.seguinos_tex{
		margin-top: 60px;
	}
	.seguinos2{
		width: 30%;

	}
	.afi_lo{
		width: 30%;

	}

}



.logo_footer_1{
	margin-top:50px;
}


.colum-1{
	margin-top:50px;
	text-align:left;
	padding-left: 30px;
}

.img-fiscal{


	text-align:left;
	padding-left:50px;
}

.colocas_sd{

	display: flex;
	align-self:center;
}

.seguinos{

	display: flex;
	justify-content:flex-end;	
	align-self:center;
	margin-top: 100px;

}
@media (max-width:991px) {
	.seguinos{
	margin-top:-60px;

	       }

	  
}

@media (max-width:471px) {
	.seguinos{
	margin-top:5px;
	font-size: 5px;
	
		
	       }

	.seguinos_tex2{
		margin-left: 0px;
	}       
}
.seguinos22{
	display: flex;
	justify-content:flex-start;	
	align-self:center;
}

@media (max-width:471px) {
	.seguinos{
		margin-top:5px;
		font-size: 5px;
		justify-content:center;
	}

	.seguinos_tex{
		font-size: 10px;
	}       
}

.seguinos2{
	display: flex;
	justify-content:flex-end;
	align-self:center;

}

@media (max-width:471px) {
	.seguinos2{
		margin-top:0px;
		justify-content:center;

	}
}

.seguinos20{

	display: flex;
	justify-content:flex-start;
	align-self:center;

}
@media (max-width:471px) {
	.seguinos20{
	margin-top:0px;
	padding-left: 15px;

	       }
}

/*servicios*/
.texto3n{
	color: #333333;
	font-size: 18px;
	font-family: 'ikaros_light', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:400;
	text-align: left;
}
	
@media (max-width: 500px){
	.texto3n {
		font-size: 20px;
		padding: 0px 15px 0px 15px;
	}
	
}

/*casas particulares*/
.div-texto-casas{
	float: left;
	width: 50%;
}

@media (max-width:500px) {

	.div-texto-casas{
		width: 100%;
		margin-left: 0;
	}	
}

.div-texto-casas-bac{


float: left;
width: 50%;
margin-top: 30px;


}
@media (max-width:1199px) {

.div-texto-casas-bac{

	width: 100%;
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 50px;

}	

}
.div-texto-casas4{


float: left;
width: 50%;
padding-left: 50px;


}
@media (max-width:1010px) {

.div-texto-casas4{

	width: 100%;
	padding-left: 0;


}	
	
}
.div-texto-casas2{


float: left;
width: 50%;
margin-left: 50px;

}

@media (max-width:500px) {

.div-texto-casas2{

	width: 100%;
	margin-left: 0;


}	
	
}

.texto3sc{
	color: #333333;
	font-size: 18px;
	font-family:ikaros_light, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:400;
	text-align: left;
	font-style:italic;
	}
	
	@media (max-width: 1199px){
	.texto3sc{
	font-size: 20px;
	width: 100%;
	padding: 0px 15px 0px 15px;
	       }
	}
	 @media (max-width:1199px){

	.imgen-moviles-casas212 {
	
		display: inline-flex;
		width: 100%;
		aligin-content:center;
		margin-bottom: 50px;

	}

}


.imagen-casas{

	width: 50%;
	float: right;
	text-align: right;

}

	@media (max-width:500px){

	.imagen-casas{
	
		display: none;

	}



	}

.td08_casas{
	font-family: 'ikaros_light', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight:lighter;
	height: 18px;
	font-size: 20px;
	padding: 20px;
	line-height: 20px;
	text-align: left;
	}
	
	@media (max-width: 450px){
	.td08{
	font-size: 14px;
	
	       }
	}
 .iconos-servicios{

	width: 100%;
	margin: auto;
	text-align: center;


 }

 .imgen-moviles-casas{

	display: none;
}


 @media (max-width:500px){

	.imgen-moviles-casas{
	
		display: inline-flex;
		width: 100%;
		align-content:center;
		margin-bottom: 50px;

	}
}

 .imgen-moviles-casas4{

	display: none;
}


 @media (max-width:1010px){

	.imgen-moviles-casas4{
	
		display: inline-flex;
		width: 100%;
		aligin-content:center;
		margin-bottom: 50px;

	}
}


@media (max-width:500px){

	.imgen-moviles-casas21{
	
		display: inline-flex;
		width: 100%;
		align-content:center;
		margin-bottom: 50px;

	}
}

.presupuesto-ser {
    margin-top: 50px;
    text-align: center;
    clear: both;
}

	.boton-presupuesto2{
	padding: 10px 40px 1px 40px;
	background-color: #0192d5;
	width: 60%;
	color: #fff;
	font-size:18px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:300;
	text-align:center;
	margin-top:150px;
	margin: auto;
	
}

.boton-presupuesto2:hover{
	    background-color: #2a58a4;
	    color: white;


}
@media(max-width:900px){

	.presupuesto-ser{
            clear: both;
	}
	
	.boton-presupuesto2{
	clear: both;
	
}

}

/*desagote*/


.contenedor-img-desa img{
	width: 80%;
	display: flex;
	align-content:center;
	margin: auto;
	padding: 20px;

}

	
/*arena multivalvula*/

.foto-arena{

	text-align: right;


}
.foto-multi{

	text-align: left;
}

@media (max-width:990px){

.foto-arena{

	text-align: center;
	margin-bottom: 20px;
	width: 100%;


}
.foto-multi{

	text-align: center;
	width: 100%;
}
	


}

/* productos */

.imagen-produc{

	width: 30%;
	float: right;
	text-align: left;
	margin-right: 150px;

}

	@media (max-width:500px){

	.imagen-produc{
	
		display: none;

	}



	}
.imagen-produc0{

	width: 30%;
	float: right;
	text-align: left;
	margin-right: 150px;

}

	@media (max-width:1010px){

	.imagen-produc0{
	
		display: none;

	}



	}

.imagen-produc2{

	width: 50%;
	float: left;
	text-align: left;

}

	@media (max-width:500px){

	.imagen-produc2{
	
		display: none;

	}



}
.imagen-produc23{

	width: 50%;
	float: left;
	text-align: left;

}

	@media (max-width:1010px){

	.imagen-produc23{
	
		display: none;

	}



}




.mapa-ima{

	width: 80%;
	margin: auto;
	clear:both;
	margin-left: -30px;
	margin-right: -30px;


}
.imagen-lugar{
	width: 100%;
	text-align: center;
	
	margin-bottom: 40px;
	

}

.barrios-a{

text-align: center;

}

.texto3Zona{
	color: #333333;
	font-size: 20px;
	font-family:ikaros_regular, Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-weight:bold;
	text-align:center;
	text-transform: uppercase;
	text-decoration: none;
	}
	
	@media (max-width: 500px){
	.texto3{
	font-size: 20px;
	padding: 0 15px 0 15px;
	line-height: 30px;
	       }
	}


@media only screen and (max-width : 768px) {
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	
}

.servicios-sugeridos-icon{

display: flex;
justify-content:space-between;
align-items:center;

}

@media (max-width:1200px){

	.servicios-sugeridos-icon{
	
		display: block;

	}



}

@media (max-width:1200px){

	.icon-sugeridos-tama{
		width: 100%;
		padding-top: 20px;
	}

}

.td07pp{
	font-size: 10px;
	font-family: 'Conv_HelveticaNeueLTStd-Blk', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight: 300;
}


.td08bac{
	font-family: 'ikaros_regular', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight:300;
	padding-bottom: 10px;
	text-align: center;
	font-size: 12px;
}

.icon-suge{
	width: 6em;
}


.td06_22{
	font-size: 26px;
	text-align: center;
	font-family: 'ikaros_light, Segoe', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	color: #333;
	font-weight:400;
}

.servicios-suge-localidades{
	text-align: center;
}


.btn_file2{
    position: absolute;
    background:  #0192D5;
    width: 70px;
    height: 50px;
    margin-bottom: 30px; 
    margin-top: -80px;
    margin-left: 175px;
}

.text_file2{
	color: #fff;
	letter-spacing: 1px;
	padding-top: 20px;
	margin-left: 8px;
	padding-right: 20px;
}

.icono_face_compa{
	width: 80%;
}

.ir-arriba{
	display: none;
	cursor: pointer;
	position: fixed;
	bottom:10px;
	left: 20px;
	z-index: 3000;
}

/* Horarios de atencion*/
.contenedor_horario{
	width:50%;
}

@media (max-width: 1265px){
	.contenedor_horario{
		display:none;
	}	

}

.horario_atencion_header_tipos{
	display: flex;
	font-size: 12px; 
	margin-right: 20px; 
	margin-left: 5px;
	align-items: center;
}


.dias_atencion{
	font-family: 'Conv_HelveticaNeueLTStd-Blk';
	margin: 0;
}

.horarios_atencion{
	font-family: 'Conv_HelveticaNeueLTStd-Blk';
	margin: 0;
}

.horarios_atencion:before{
	content: '|';
	display: inline-block;
	margin: 0 10px;
}

/* datos contacto*/
.datos_contacto{
	text-align:right;
	display:flex;
	justify-content:flex-end;
}


@media (max-width:1265px){
	.datos_contacto{
		width:100%;
	}
}

@media(max-width: 615px){
	.datos_contacto{
		width:60%;
	}

}

.consulta_header{
	font-family: 'ikaros_light';
    transform: translateY(8px);
}

.tel_1{
	text-decoration:none;
	font-family: 'Conv_HelveticaNeueLTStd-Blk'; 
	margin-top:6px; 
	color:white;
}

.tel_1:hover{
	color:white;
}

.separador_tel_header{
	text-decoration:none;
	font-family: 'Conv_HelveticaNeueLTStd-Blk';
	margin-top:6px;
	color: #fff; 
	padding-left:6px;
}

.tel_2{
	text-decoration:none;
	font-family: 'Conv_HelveticaNeueLTStd-Blk';
	color: #fff !important;
}

.imagen_wh {
	width: 27px;
	height: 28px;
	margin-left: -0.1em;
	margin-right: 1em;
}


@media (max-width: 640px) {

  .datos_contacto{
		align-content:center;
		align-items:center;
		flex-direction:row;
		justify-content:center;
		width:100%;
	}
	div p .daos_contacto{
		font-size:0.5em;
		width:100%;
		text-align:center;
	}

	.tel_1{
			text-align: center;
			padding: 1px;	
			font-size:10px;
	}

	.tel_2{
		font-size: 14px;
	}

	.separador_tel_header{
		font-size: 7px;
	}



}





/*imagen header*/

.img-header-1{

	width: 100%;
	height: 20px;
	background-color:red;
	float:left;
	position:absolute;
    animation-duration: 4s;
	animation-delay: 5s;

}

@media (max-width:675px){

	.img-header-1{
	    margin-top: -20px;
	}
	
}

.sello_premiun{
	text-align:center;
	width: 7%;
	margin-top:2%;
	margin-right:2%;
	float:right;


}

@media (max-width:1132px){

	.sello_premiun{
		display:none
	}


}

/*acordeaon faq*/
.acordeon input{
	display:none;
	margin:0;
}

@media(max-width: 767px){


	.acordeon{
		padding:20px;
	}

	.destacamos-list {
		margin-left: 45px !important;
	}


}

@media (max-width: 1132px){

    .acordeon__titulo{
        width:100%;
    }

}

.acordeon__titulo {
    padding: .25rem 0;

    &:hover {
        color: #2b54a1;
        cursor: pointer;
    }
}

.acordeon__contenido{
	height: 0;
	overflow:hidden;
	margin: 0;
}

.acordeon input:checked ~ .acordeon__contenido{
	height:auto;
	margin: 15px 0;
	margin-bottom: 10px;
	color:#008CD1;
	font-family: 'Conv_HelveticaNeueLTStd-Blk', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	transition: all  0.5s ease-in-out;
}

.destacamos-list {
	margin-left: 145px;
	font-family: 'ikaros_light', "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size: 16px;
	margin-top: 30px;

    li::marker {
        color: #0192d5;
        font-size: 1.35em;
    }
}

@media (max-width:1132px){

	.acordeon__contenido{

		margin-top:-1em;

	}

}



@media(max-width:991px) {
	

	.colum-1{
		display:none;
	}

	.acordeon__footer{
		display:inline;
	}

	.logo_footer_1{
		margin-bottom:2em;
	}
	.img-fiscal{
		padding-bottom:12em;
		padding-top:1em;
		padding-left:1em;
		text-align:center;
		margin-left:0;
	}

	.img-fiscal2{
		text-align:center;
	}

	.redes_footer_2{
		display:inline;
	}


	.horario_atencion2{
		margin-top:5px; 
		margin-left:20px;
		text-align:center;
		width:auto;
	}

	.horario_atencion_header_icon2{
		width:35px; 
		height:35px; 
		margin-left:-20px;
	}

	.horario_atencion_header_tipos2{
		font-size:16px; 
		line-height:10px; 
		margin-top:13px; 
		margin-left:-20px;
	}


	.dias_atencion2{
		font-family: 'Conv_HelveticaNeueLTStd-Blk';
	}

	.horarios_atencion2{
		font-family: 'ikaros_light';

	}


}


